# IDE
.vscode/
.idea/

# local config
.env
.python-version
poetry.toml

# cache
**/__pycache__/
**/*.egg-info
.mypy_cache

# build
.venv/
dist

# other
rabbitmq.conf

# remove latere
to_source.sh
tmpdir/
